<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google" value="notranslate">
  <link rel="shortcut icon" href="static/favicon.ico">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <% if (htmlWebpackPlugin.options.sentryConfig) { %>
  <!-- Sentry error logging to help with finding bugs -->
  <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous"></script>
  <script>
    Raven.config(<%= htmlWebpackPlugin.options.sentryConfig %>).install();
  </script>
  <!-- /Sentry -->
  <% } %>
  <script>
    window.scratchConfig = {
      logo: {
        show: true
        , url: "./static/logo.png" //logo地址，支持base64图片
        , handleClickLogo: () => {
          console.log('点击LOGO')
        }
      },
      menuBar: {
        color: 'hsla(215, 100%, 65%, 1)', //菜单栏颜色
        //新建按钮
        newButton:{
          show: true,
          handleBefore(){
            return true
          }
        },
        //从计算机加载按钮
        loadFileButton:{
          show: true,
          handleBefore(){
            return true
          }
        },
        //保存到计算机按钮
        saveFileButton:{
          show: true,
          handleBefore(){
            return true
          }
        },
        //加速模式按钮
        turboModeButton:{
          show: true
        },
        //教程按钮
        helpButton:{
          show: true
        },
        //我的物品按钮
        myStuff:{
          show: true,
          url: '/myProject'
        },
        //用户头像按钮
        userAvatar:{
          show: true,
          username: '未登录',
          avatar: './static/avatar.png',
          handleClick(){
            //弹出登录框等操作
            console.log("点击头像")
          }
        }
      }, 
      shareButton: {
        show: true,
        buttonName: "分享",
        handleClick: () => {
          //点击分享按钮
          console.log('分享按钮')
          window.scratch.getProjectCover(cover => {
            //TODO 获取到作品截图
            console.log(cover)
          })
          window.scratch.getProjectFile(file => {
            //TODO 获取到项目文件
            console.log(file)
          })
          // 获取到项目名
          var projectName = window.scratch.getProjectName()
          console.log(projectName);
        }
      },
      profileButton: {
        show: true,
        buttonName: "我的作品",
        handleClick:()=>{
          //点击profile按钮
        }
      },
      blocks:{
        scale: 0.8, // 积木缩放比例
      },
      stageArea:{ //舞台设置
        scale: 1, //舞台缩放比例
        width: 480,
        height: 360,
        showControl: false, //是否显示舞台区控制按钮
        showLoading: false, //是否显示Loading
        fullscreenButton:{ //全屏按钮
          show: true,
          handleBeforeSetStageUnFull(){ //退出全屏前的操作
            return true
          },
          handleBeforeSetStageFull(){ //全屏前的操作
            return true
          }
        },
        startButton:{ //开始按钮
          show: true,
          handleBeforeStart(){ //开始前的操作
            return true
          }
        },
        stopButton:{ // 停止按钮
          show: true,
          handleBeforeStop(){ //停止前的操作
            return true
          }
        }
      },
      handleVmInitialized: (vm) => {
        window.vm = vm
        console.log("VM初始化完毕")

      },
      handleProjectLoaded:() => {
        console.log("作品载入完毕")

      },
      handleDefaultProjectLoaded:() => {
        //默认作品加载完毕，一般在这里控制项目加载
        // window.scratch.setProjectName("默认项目")
        //  window.scratch.loadProject("/project.sb3", () => {
        //     console.log("项目加载完毕")
        //     window.scratch.setProjectName("默认项目")
        //  })
      },
      //默认项目地址,不需要修请删除本配置项
      defaultProjectURL: "./static/project.sb3",
      //若使用官方素材库请删除本配置项, 默认为/static下的素材库
      assetCDN: './static'
    }


  </script>
</head>

<body>
  <div id="scratch">

  </div>
</body>
<script>

</script>

</html>
